[submodule "cqrs"]
	path = crates/cqrs
	url = git@github.com:jonaslimads/cqrs.git
[submodule "mysql-es"]
	path = crates/mysql-es
	url = git@github.com:jonaslimads/mysql-es.git
[submodule "admin"]
	path = admin
	url = git@github.com:jonaslimads/premier-admin.git
[submodule "sqlite-es"]
	path = crates/sqlite-es
	url = git@github.com:jonaslimads/sqlite-es.git
